<section class="page-header">
  <h1>{{ id ? 'Modifier un enseignant' : 'Ajouter un enseignant' }}</h1>
  <p>Profil enseignant utilise pour les affectations de jury.</p>
</section>

<section class="panel">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-grid">
    <label>Nom
      <input formControlName="nom" placeholder="Nom">
    </label>

    <label>Prenom
      <input formControlName="prenom" placeholder="Prenom">
    </label>

    <label>Email
      <input formControlName="email" placeholder="email@exemple.com">
    </label>

    <label>Grade
      <input formControlName="grade" placeholder="Professeur">
    </label>

    <label>Specialite
      <input formControlName="specialite" placeholder="Systemes distribues">
    </label>

    <div class="actions-row">
      <button class="btn-primary" type="submit" [disabled]="form.invalid">Enregistrer</button>
      <a class="btn-light" routerLink="/enseignants">Annuler</a>
    </div>
  </form>
</section>
